################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/trab_ProgParalela/.vs/trab_ProgParalela/v17
/trab_ProgParalela/x64/Debug
