################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/trab_ProgParalela/.vs/trab_ProgParalela/v17
/trab_ProgParalela/x64/Debug
/Implementacao CompgGraf/x64/
/Implementacao CompgGraf/.vs/

/TrabsSisDist/RPCClientSide/x64/
/TrabsSisDist/RPCClientSide/.vs/

/TrabsSisDist/RPCServerSide/x64/
/TrabsSisDist/RPCServerSide/.vs/
TrabsCalcNumerico/.vs/
TrabsCalcNumerico/x64/
