################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/trab_ProgParalela/.vs/trab_ProgParalela/v17
/trab_ProgParalela/x64/Debug
/Implementacao CompgGraf/x64/
/Implementacao CompgGraf/.vs/

/TrabsSisDist/RPCClientSide/x64/
/TrabsSisDist/RPCClientSide/.vs/

/TrabsSisDist/RPCServerSide/x64/
/TrabsSisDist/RPCServerSide/.vs/
TrabsCalcNumerico/.vs/
TrabsCalcNumerico/x64/
OpenGLAmbient/.vs/
OpenGLAmbient/x64/
/IA/.vs
/IA/IA/x64
/IA/x64
SO/RW/.vs
SO/RW/x64
SO/RW/RW/x64
