.AppContainer
{
    display: flex;
    flex-direction: column;
    background-color: #202020;
    min-height: 100vh;
}
.AppContainer2
{
    display: flex;
    flex-direction: column;
    background-color: #271127;
    min-height: 100vh;
}